div {
    
        width: 63%;
        height: 420px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
        position: relative;
        right:-272px;
        top:-8px;
      }
      h2{
        
            opacity: 0.5;
            color: rgb(208, 194, 194);
            position: fixed;
            top: 150px;
            left: 40%;
            transform: rotate(330deg);
      }
